/* Header Styles */
.App-header {
    display: flex;
    align-items: center; /* Vertically align logo */
    justify-content: space-between; /* Spread logo and menu */
    background-color: #e5e5e5; /* Updated background color */
    padding: 0 20px; /* Horizontal padding only */
    max-height: 80px; /* Max height for header */
    height: 80px; /* Ensure header stays at 80px */
  }
  
  .App-logo {
    height: 100%; /* Make logo take full height of the header */
    width: auto; /* Maintain aspect ratio */
    max-height: 60px;
  }
  
  .App-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .App-menu a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
  }
  
  .App-menu a:hover {
    text-decoration: underline;
  }
  
  /* Content Styles */
  .App-content {
    padding: 20px;
    text-align: center;
    background-color: white; /* White background for content */
  }
  
  .App-content h1 {
    color: #282c34; /* Dark color for title */
  }
  
  .App-content p {
    color: #666; /* Lighter color for paragraph */
  }
  
  /* Footer Styles */
  .App-footer {
    text-align: center;
    background-color: #e5e5e5; /* Same background color as header */
    color: #282c34; /* Text color to match header */
    max-height: 80px; /* Restrict max height */
    height: 80px; /* Ensure consistent footer height */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 0 20px; /* Horizontal padding only */
  }
  

  #map {
    width: 100%;
    height: 400px; /* Set the height of the map */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  }

  .mapboxgl-ctrl-bottom-right {
    display:none;
  }

  .form-check {
    display: flex;
    align-items: center;
  }
  
  .form-check-input {
    margin-right: 10px; /* Adjusts space between checkbox and label */
  }
  
  .layer-type-title {
    text-align: left; /* Align the title to the left */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 10px; /* Space between the title and the layers */
    display: block; /* Ensure it spans the full width */
    width: 100%; /* Ensure the title takes the full width of the container */
  }
  
  .layer-type-title::after {
    content: ''; /* Adds a line after the title */
    display: block;
    width: 100%; /* Line spans the full width */
    height: 2px;
    background-color: #000; /* Line color, change as necessary */
    margin-top: 5px; /* Space between the title and the line */
  }
  